@import "tailwindcss";


@theme {
    --font-doto: Doto, sans-serif;
    --font-instrument-sans: Instrument Sans, sans-serif;
}

body {
    font-family: var(--font-instrument-sans), sans-serif;
    background-color: var(--color-blue-200);
    padding: 2rem;
}

h1 {
    font-family: var(--font-doto), sans-serif;
    font-size: var(--text-5xl)
}

p {
    font-size: 1rem;
}
